<h1>Edit Page</h1>

<%= form_for @volunteer do |v| %>
  <%= v.label :first_name %>: <%= v.text_field :first_name %><br>
  <%= v.label :last_name %>: <%= v.text_field :last_name %><br>
  <%= v.label :phone %>: <%= v.text_field :phone %><br>
  <%= v.label :email %>: <%= v.text_field :email %><br>
  <%= v.label :city %>: <%= v.text_field :city %><br>
  <%= v.label :state %>: <%= v.text_field :state %><br>
  <%= v.label :subscribe %>: <%= v.check_box :subscribe %><br>
  <%= v.label :status %>: <%= select_tag :status, options_for_select(Volunteer.status_volunteer) %><br>
  <%= v.label :major %>: <%= v.text_field :major %><br>
  <%= v.label :languages %>: <%= v.text_field :languages %><br>
  
  <%= v.submit %>
<% end %>

<%= link_to 'Show', @volunteer %> |
<%= link_to 'Back', volunteers_path %>

