<p id="notice"><%= notice %></p>

<h1>Listing Volunteers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Area</th>
      <th>Status</th>
      <th>Major</th>
      <th>More Info</th>
      <th>Edit</th>
      <th>Delete</th>
        
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.first_name %> <%= volunteer.last_name %>:</td>
        <td><%= volunteer.email %> </td>
        <td><%= volunteer.phone %></td>
        <td><%= volunteer.city %>, <%= volunteer.state %></td>
        <td><%= volunteer.status %></td>
        <td><%= volunteer.major %></td>
        
        <td><%= link_to 'More Info', volunteer %></td>
        <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        <td><%= button_to 'Delete', volunteer_path(volunteer), :method => :delete, :confirm => 'Are you sure?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volunteer', new_volunteer_path %>
