<p id="notice"><%= notice %></p>

<h1>Listing Volunteers</h1>

<%= form_tag volunteers_path, :id => 'filter_form', :method => :get do %>
  Status:
  <%= select_tag "status", options_for_select(@all_status, @all_status[0]), :id => "status_id" %>
  States:
  <%= select_tag "state", options_for_select(@all_states,  @all_states[0]), :id => "states_id" %>
  Education:
  <%= select_tag "education", options_for_select(@all_education,  @all_education[0]), :id => "education_id" %>
  Major:
  <%= select_tag "major", options_for_select(@all_states,  @all_states[0]), :id => "major_id" %>
  Language:
  <%= select_tag "language", options_for_select(@all_states,  @all_states[0]), :id => "language_id" %>
  <!--Time available:-->
  <!--<%= select_tag "time_available", options_for_select(@all_states,  @all_states[0]), :id => "time_id" %>-->
  <!--Involvement:-->
  <!--<%= select_tag "involvement", options_for_select(@all_states,  @all_states[0]), :id => "involvement_id" %>-->
  
  <%= submit_tag 'Refresh', :id =>"filter_submit" %>
<% end %>





<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Area</th>
      <th>Status</th>
      <th>Major</th>
      <th>More Info</th>
      <th>Edit</th>
      <th>Delete</th>
        
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.first_name %> <%= volunteer.last_name %>:</td>
        <td><%= volunteer.email %> </td>
        <td><%= volunteer.phone %></td>
        <td><%= volunteer.city %>, <%= volunteer.state %></td>
        <td><%= volunteer.status %></td>
        <td><%= volunteer.major %></td>
        <td><%= link_to 'More Info', volunteer %></td>
        <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        <td><%= button_to 'Delete', volunteer_path(volunteer), :method => :delete, :confirm => 'Are you sure?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volunteer', new_volunteer_path %>
