<div class="container" id="new-volunteer-page">
  <h1 id="get-involved">Get Involved!</h1>
  <h4 class="text-dark-grey new-volunteer-page-promo">Subscribe to our newsletter below and checkout our <a href="http://ewb-sfp.org/faq">FAQ </a>to see how you can get involved!
  </h4>

  <div id="new-volunteer-form">
  <%= form_for @volunteer do |v| %>
  <div class="row new-volunteer-form-row">
    <div class="col-md-6">
      <%= v.label :first_name %> <%= v.text_field :first_name, class: "new-volunteer-form-textfield"%>
    </div>
    <div class="col-md-6">
      <%= v.label :last_name %> <%= v.text_field :last_name, class: "new-volunteer-form-textfield" %>
    </div>  
  </div>

  <div class="row new-volunteer-form-row">
    <div>
      <div class="col-md-6">
        <%= v.label :phone %> <%= v.text_field :phone, class: "new-volunteer-form-textfield" %>
      </div>
      <div class="col-md-6">
        <%= v.label :email %> <%= v.text_field :email, class: "new-volunteer-form-textfield" %>
      </div>  
    </div>
  </div>

  <div class="row new-volunteer-form-row">
    <div>
      <div class="col-md-6">
        <%= v.label :city %> <%= v.text_field :city, class: "new-volunteer-form-textfield" %>
      </div>
      <div class="col-md-6">
        <%= v.label :state %> <%= v.select :state, @states %>
      </div>  
    </div>
  </div>

  <div class="row new-volunteer-form-row">
    <div>
      <div class="col-md-6">
        <%= v.label :subscribe, "Subscribe to Mailing List" %> <%= v.check_box :subscribe %>
      </div>
      <div class="col-md-6">
        <%= v.label :join_project_team, "Join a Project Team (See more options)" %> <%= v.check_box :join_project_team %><br>
      </div>  
    </div>
  </div>

    
    <div id='join_team_details' class="hidden">
      <h1>Join Project Team</h1>
      <h4 class="text-dark-grey new-volunteer-page-promo">
        Please fill out all detail information you can!
      </h4>
        <div class="row new-volunteer-form-row">
          <div>
            <div class="col-md-6">
              <%= v.label :status %> <%= v.select :status, @statuses %>
            </div>
            <div class="col-md-6">
              <%= v.label :education %> <%= v.select :education, @education %>
            </div>  
          </div>
        </div>

        <div class="row new-volunteer-form-row">
          <div>
            <div class="col-md-6">
              <%= v.label :major %> <%= v.text_field :major, class: "new-volunteer-form-textfield" %>
            </div>
            <div class="col-md-6">
              <%= v.label :certification %> <%= v.text_field :certification, class: "new-volunteer-form-textfield" %>
            </div>  
          </div>
        </div>

        <div class="row new-volunteer-form-row">
          <div>
            <div class="col-md-6">
                <%= v.label :languages %> <%= v.text_field :languages, class: "new-volunteer-form-textfield" %>
            </div>
            <div class="col-md-6">
                <%= v.label :fluency, "Level of Fluency" %> <%= v.text_field :fluency, class: "new-volunteer-form-textfield" %>
            </div>  
          </div>
        </div>

        <div class="row new-volunteer-form-row">
          <div>
            <div class="col-md-6">
              <%= v.label :ewb_experience, "Previous EWB Experience" %> <%= v.text_field :ewb_experience, class: "new-volunteer-form-textfield" %>
            </div>
            <div class="col-md-6">
              <%= v.label :international_experience, "Previous International Experience" %> <%= v.text_field :international_experience, class: "new-volunteer-form-textfield" %>
            </div>  
          </div>
        </div>

        <div class="row new-volunteer-form-row">
          <div>
            <div class="col-md-6">
              <%= v.label :work_experience, "Previous Work Experience" %> <%= v.text_field :work_experience, class: "new-volunteer-form-textfield" %>
            </div>
            <div class="col-md-6">
              <%= v.label :reason %> <%= v.text_field :reason, class: "new-volunteer-form-textfield" %>
            </div>  
          </div>
        </div>

        <div class="row new-volunteer-form-row">
          <div>
            <div class="col-md-6">
              <%= v.label :time_investment, "Time Investment" %> <%= v.select :time_investment, @time_invest %>
            </div>
            <div class="col-md-6">
              <%= v.label :travel %> <%= v.check_box :travel, class: "new-volunteer-form-textfield" %>
            </div>  
          </div>
        </div>


        <div class="row new-volunteer-form-row">
          <div>
            <div class="col-md-6">
                <%= v.label :places %> <%= v.select :places, @places %>
            </div>
            <div class="col-md-6">
              <%= v.label :current_events %> <%= v.check_box :current_events, class: "new-volunteer-form-textfield" %>
            </div>  
          </div>
        </div>

        <div class="row new-volunteer-form-row">
            <div class="col-md-6">
              <%= v.label :involvement %> <%= v.select :involvement, @involvement %>
            </div>  
        </div>

    </div>
  <%= v.submit "Sign Up!", class:"btn btn-default"%>
  <% end %>
  </div>
</div>
