<h1>New Volunteer</h1>

<% if flash[:notice] %>
    <div class="notice", style: "color: red;"><%= flash[:notice] %></div>
<% end %>

<%= form_for @volunteer do |v| %>
  <%= v.label :first_name %>: <%= v.text_field :first_name %><br>
  <%= v.label :last_name %>: <%= v.text_field :last_name %><br>
  <%= v.label :phone %>: <%= v.text_field :phone %><br>
  <%= v.label :email %>: <%= v.text_field :email %><br>
  <%= v.label :city %>: <%= v.text_field :city %><br>
  <%= v.label :state %>: <%= v.select :state, @states %><br>
  <%= v.label :subscribe %>: <%= v.check_box :subscribe %><br>
  <%= v.label :join_project_team %>: <%= v.check_box :join_project_team %><br>
  
  <div id='join_team_details' style="display:none;">
    <h1>Join Project Team</h1>
    <%= v.label :status %>: <%= v.select :status, @statuses %><br>
    <%= v.label :education %>: <%= v.select :education, @education %><br>
    <%= v.label :major %>: <%= v.text_field :major %><br>
    <%= v.label :certification %>: <%= v.text_field :certification %><br>
    <%= v.label :languages %>: <%= v.text_field :languages %><br>
    <%= v.label :fluency %>: <%= v.text_field :fluency %><br>
    <%= v.label :ewb_experience %>: <%= v.text_field :ewb_experience %><br>
    <%= v.label :international_experience %>: <%= v.text_field :international_experience %><br>
    <%= v.label :work_experience %>: <%= v.text_field :work_experience %><br>
    <%= v.label :reason %>: <%= v.text_field :reason %><br>
    <%= v.label :time_investment %>: <%= v.select :time_investment, @time_invest %><br>
    <%= v.label :travel %>: <%= v.check_box :travel %><br>
    <%= v.label :places %>: <%= v.select :places, @places %><br>
    <%= v.label :current_events %>: <%= v.check_box :current_events %><br>
    <%= v.label :involvement %>: <%= v.select :involvement, @involvement %><br>
    
      

    
  </div><br>

  <%= v.submit %><br>
  
  
  
<% end %>


<script>
  var joinTeamCheckbox = document.getElementById("volunteer_join_project_team");
  var joinTeamDetails = document.getElementById("join_team_details");
  joinTeamCheckbox.onchange = function() {
    if (this.checked) {
      joinTeamDetails.style['display'] = 'block';
    } else {
      joinTeamDetails.style['display'] = 'none';
    }
  }
</script>

    
<%= link_to 'Back', volunteers_path %>
