<h1>New Volunteer</h1>

<%= form_for @volunteer do |v| %>
  First Name: <%= v.text_field :first_name %>
  Last Name: <%= v.text_field :last_name %>
  Phone: <%= v.text_field :phone %>
  Email: <%= v.text_field :email %>
  City: <%= v.text_field :city %>
  State: <%= v.text_field :state %>
  Major: <%=v.text_field :major %>
  Language: <%=v.text_field :language %>
  Previous EWB Experience: <%=v.text_field :previous_ewb_exp %>
  Previous International Experience:  <%=v.text_field :previous_int_exp %>
  Previous Work Experience: <%=v.text_field :previous_work_exp %>
  Reason <%=v.text_field :reason %>
  <%= v.submit %>
<% end %>

    
<%= link_to 'Back', volunteers_path %>
