<div class="container">
  <h1 id="get-involved">Get Involved!</h1>
  <h4 class="text-dark-grey" id="new-volunteer-promo">Subscribe to our newsletter below and checkout our <a href="http://ewb-sfp.org/faq">FAQ </a>to see how you can get involved!
  </h4>

  <% if flash[:notice] %>
      <div class="notice", style: "color: red;"><%= flash[:notice] %></div>
  <% end %>

  <div id="new-volunteer-form">
  <%= form_for @volunteer do |v| %>
  <div class="row new-volunteer-form-row">
    <div class="col-md-6">
      <%= v.label :first_name %> <%= v.text_field :first_name, class: "new-volunteer-form-textfield"%><br>
    </div>
    <div class="col-md-6">
      <%= v.label :last_name %> <%= v.text_field :last_name, class: "new-volunteer-form-textfield" %><br>
    </div>  
  </div>

  <div class="row new-volunteer-form-row">
    <div>
      <div class="col-md-6">
        <%= v.label :phone %> <%= v.text_field :phone, class: "new-volunteer-form-textfield" %><br>
      </div>
      <div class="col-md-6">
        <%= v.label :email %> <%= v.text_field :email, class: "new-volunteer-form-textfield" %><br>
      </div>  
    </div>
  </div>

  <div class="row new-volunteer-form-row">
    <div>
      <div class="col-md-6">
        <%= v.label :city %> <%= v.text_field :city, class: "new-volunteer-form-textfield" %><br>
      </div>
      <div class="col-md-6">
        <%= v.label :state %> <%= v.select :state, @states %><br>
      </div>  
    </div>
  </div>

  <div class="row new-volunteer-form-row">
    <div>
      <div class="col-md-6">
        <%= v.label :subscribe %> <%= v.check_box :subscribe %><br>
      </div>
      <div class="col-md-6">
        <%= v.label :join_project_team %> <%= v.check_box :join_project_team %><br>
      </div>  
    </div>
  </div>

    
    <div id='join_team_details' class="hidden">
      <h1>Join Project Team</h1>
      <%= v.label :status %> <%= v.select :status, @statuses %><br>
      <%= v.label :education %> <%= v.select :education, @education %><br>
      <%= v.label :major %> <%= v.text_field :major, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :certification %> <%= v.text_field :certification, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :languages %> <%= v.text_field :languages, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :fluency %> <%= v.text_field :fluency, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :ewb_experience %> <%= v.text_field :ewb_experience, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :international_experience %> <%= v.text_field :international_experience, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :work_experience %> <%= v.text_field :work_experience, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :reason %> <%= v.text_field :reason, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :time_investment %> <%= v.select :time_investment, @time_invest %><br>
      <%= v.label :travel %> <%= v.check_box :travel %><br>
      <%= v.label :places %> <%= v.select :places, @places %><br>
      <%= v.label :current_events %> <%= v.check_box :current_events, class: "new-volunteer-form-textfield" %><br>
      <%= v.label :involvement %> <%= v.select :involvement, @involvement %><br>
    </div>
  <%= v.submit "Sign Up!", class:"btn btn-default"%>
  <% end %>
  </div>
</div>
