<h1>New Volunteer</h1>

<%= form_for @volunteer do |v| %>
  <%= v.label :first_name %>: <%= v.text_field :first_name %><br>
  <%= v.label :last_name %>: <%= v.text_field :last_name %><br>
  <%= v.label :phone %>: <%= v.text_field :phone %><br>
  <%= v.label :email %>: <%= v.text_field :email %><br>
  <%= v.label :city %>: <%= v.text_field :city %><br>
  <%= v.label :state %>: <%= v.text_field :state %><br>
  <%= v.label :subscribe %>: <%= v.check_box :subscribe %><br>
  
    <label for="team_checkbox"> Do you want to join a project team?
    </label><input type="checkbox" id="team_checkbox" value="if_join_team"> 

  
  <div id='join_team_details' style="display:none;">
    <h1> join team details</h1>
  </div><br>

  <%= v.submit %><br>
<% end %>

<script>
  var joinTeamCheckbox = document.getElementById("team_checkbox");
  var joinTeamDetails = document.getElementById("join_team_details");
  joinTeamCheckbox.onchange = function() {
    if (this.checked) {
      joinTeamDetails.style['display'] = 'block';
    } else {
      joinTeamDetails.style['display'] = 'none';
    }
  }
</script>

    
<%= link_to 'Back', volunteers_path %>
