<p id="notice"><%= notice %></p>

<div><span class="show">Name: <%= @volunteer.first_name %> <%= @volunteer.last_name %></span></div>
<div><span class="show">Phone: <%= @volunteer.phone %></span></div>
<div><span class="show">Email: <%= @volunteer.email %></span></div>
<div><span class="show">City: <%= @volunteer.city %></span></div>
<div><span class="show">State: <%= @volunteer.state %></span></div>
<div><span class="show">Subscribe: <%= @volunteer.subscribe %></span></div>
<div><span class="show">Status: <%= @volunteer.status %></span></div>
<div><span class="show">Education: <%= @volunteer.education %></span></div>
<div><span class="show">Major: <%= @volunteer.major %></span></div>
<div><span class="show">Certification: <%= @volunteer.certification %></span></div>
<div><span class="show">Languages: <%= @volunteer.languages %></span></div>
<div><span class="show">Fluency: <%= @volunteer.fluency %></span></div>
<div><span class="show">EWB Experience: <%= @volunteer.ewb_experience %></span></div>
<div><span class="show">International Experience: <%= @volunteer.international_experience %></span></div>
<div><span class="show">Work Experience: <%= @volunteer.work_experience %></span></div>
<div><span class="show">Reason: <%= @volunteer.reason %></span></div>
<div><span class="show">Time Investment: <%= @volunteer.time_investment %></span></div>
<div><span class="show">Travel: <%= @volunteer.travel %></span></div>
<div><span class="show">Places: <%= @volunteer.places %></span></div>
<div><span class="show">Current Events: <%= @volunteer.current_events %></span></div>
<div><span class="show">Involvement: <%= @volunteer.involvement %></span></div>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
