<style>
 .ms-container {
     text-align: left;
     width: 100%;
 }

 .ms-container .ms-list {
     height: 500px;
 }

  .search-input {
      width: 100%;
  }

 .ms-optgroup-label span {
     font-weight: bold;
 }

 .custom-header {
     text-align: center;
 }
  
</style>

<div class="row section">
  <div class="col-md-8 col-md-offset-2 section">

    <div>
      <h2 class="text-center">Editing Managers on <%= @project.name%></h2>
    </div>

    <div id="success" hidden>
      <div class="volunteer-emails-box text-center">
	Managers updated!
      </div>
      <br>
    </div>

    <center id="edit_managers">
      <select multiple="multiple" id="managers-select" name="my-select[]">
	<% @project.managers.each do |manager| %>
	  <option id="<%= manager.id %>" value="<%= manager.name %>" selected>
	    <%= manager.name %>
	  </option>
	<% end %>
	<% @eligible_managers.each do |manager| %>
	  <option id="<%= manager.id %>" value="<%= manager.name %>">
	    <%= manager.name %>
	  </option>
	<% end %>
      </select>
      <br>
      <a class="btn btn-md sqs-block-btn btn-black" id="managers-submit">Save</a>
    </center>
  </div>
</div>
