<div class="row text-right">
  <br><br><br>
  <% if can? :manage, @project %>
    <%= link_to 'Edit Project', edit_project_path(@project),
    class: "btn sqs-block-btn btn-black btn-md" %>
  <% end %>
</div>
<h2 class="text-center">PM Dashboard: (<%= @project.name %>) </h2>
<div class="col-md-12">
  <strong>Project Description: </strong><%= @project.description %>
  <br><br>
</div>
<div class="col-md-4">
  
  <div class="col-md-12" style="outline:#99b2e5 solid;outline-offset: -3px;">
    <div id="project_image" >
      <%= image_tag @project.avatar_image, class: "img-responsive center-block" %>
    </div>
  </div>

  <div class="col-md-12" >
    <br>
  </div>
  
  <div class="col-md-12"  style="background:#99b2e5;opacity: 0.95;">
    <h2 style="font-size:115%">Logistics<img href="#"><%= image_tag( "/assets/minus-icon.svg", size: "24x24", class: "pull-right", id: "logistics_toggle") %></img></h2>
    <div class="" id="log_dropdown">
      <% if @project.start_date && @project.start_date.to_date %>
        <p>This project will start on <%= @project.start_date.to_date %>.</p>
      <% else %>
        <p>Project start date to be announced </p>
      <% end %>

      <p><strong>Location: </strong><%= @project.location %></p>
      
      <% if @project.volunteers.count == 0 || @project.volunteers == "" %>
        <p> <strong> Project Capacity: </strong> <%= @project.volunteer_capacity %> </p>
      <% else %>
	<p> 
      	  <strong>Project</strong> <%= @project.name %> has 
      	  <strong><%= @project.volunteers.count %></strong> volunteers, needs 
      	  <strong><%= @project.volunteer_capacity - @project.volunteers.count %></strong> 
      	  more!
	</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-12" >
    <br>
  </div>

  <div class="col-md-12"  style="background:#99b2e5;opacity: 0.95;">
    
    <h2 style="font-size:115%">We're looking for<img href="#"><%= image_tag( "/assets/minus-icon.svg", size: "24x24", class: "pull-right", id: "qualities_toggle") %></img></h2>
    <div class="qualities" id="quality_dropdown">
      <% if @in_demand && @in_demand.count != 0 %>
        <p><strong>We really need:</strong>
          <div class="col-lg-12">
            <ul>
              <% @in_demand.each do |quality|  %>
		<li>
                  <%= quality.name %>
		</li>
              <% end %>
          </div>
        </p>
      <% end %>

      <%= link_to 'Edit In Demand', user_manages_edit_indemand_path(current_user.id, @project.id), class: "btn sqs-block-btn btn-black btn-md" %>

      <% if @project.skills && @project.skills.length > 0 %>
        <p><strong>Key Skills:</strong>
          <div class="col-lg-12">
            <ul>
              <% @project.skills.each do |quality|  %>
		<li>
                  <%= quality.name %>
		</li>
              <% end %>
          </div>
        </p>
      <%end%>

      <% if @project.certifications && @project.certifications.length > 0 %>
        <p><strong>Key Certifications:</strong></p>
        <div class="col-lg-12">
          <ul>
            <% @project.certifications.each do |quality|  %>
              <li>
		<%= quality.name %>
              </li>
            <% end %>
        </div>
      <%end%>

      <% if @project.construction_experiences && @project.construction_experiences.length > 0 %>
        <p><strong>Key Construction Experiences:</strong></p>
        <div class="col-lg-12">
          <ul>
            <% @project.construction_experiences.each do |quality|  %>
              <li>
		<%= quality.name %>
              </li>
            <% end %>
        </div>
      <%end%>
      <% if @project.design_experiences && @project.design_experiences.length > 0 %>
        <p><strong>Key Design Experiences:</strong></p>
        <div class="col-lg-12">
          <ul>
            <% @project.design_experiences.each do |quality|  %>
              <li>
		<%= quality.name %>
              </li>
            <% end %>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div class="col-md-8">
  <% if @project_availability_hash && @project_availability_hash.length > 0%>
    <div class="col-md-12" style="outline:#99b2e5 solid;outline-offset: -3px;">
      <h2 style="font-size:115%;">Volunteer Availability<img href="#"><%= image_tag( "/assets/minus-icon.svg", size: "24x24", class: "pull-right", id: "availability_toggle") %></img></h2>
      <div id="availability_chart">
        <%= column_chart @project_availability_hash %>
      </div>
    </div>
  <% end %>
  &nbsp;
  <div class="col-md-12" style="outline:#99b2e5 solid;outline-offset: -3px;">
    <h2 style="font-size:115%;">Project Manager(s) <%= link_to 'Edit Managers', user_manages_edit_managers_path(current_user.id, @project.id), class: "btn sqs-block-btn btn-black btn-md" %><img href="#"><%= image_tag( "/assets/minus-icon.svg", size: "24x24", class: "pull-right", id: "pm_toggle") %></img></h2>
    <div id="pm_dropdown">
      <%if @project.managers.count == 0 || @project.managers == "" %>
        <p><strong>Project Manager: ---- </strong></p>
        <p><strong>Manager Contact Information: ---- </strong></p>
      <% else %>
        <table id="managers">
          <thead>
            <tr>
              <th class="table-color">Project Manager</th>
              <th class="table-color">Email</th>
              <th class="table-color">Phone</th>
            </tr>
          </thead>
          <tbody>
            <% @project.managers.each do |pm| %>
              <tr>
                <td><%= pm.name %></td>
                <td><%= pm.email %></td>
                <td><%= pm.phone %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <br><br>&nbsp;
  <div class="col-md-12" style="outline:#99b2e5 solid;outline-offset: -3px;">
    <h2 style="font-size:115%;">Volunteers <%= link_to 'Edit Volunteers', user_manages_edit_volunteers_path(current_user.id, @project.id), class: "btn sqs-block-btn btn-black btn-md" %><img href="#"><%= image_tag( "/assets/minus-icon.svg", size: "24x24", class: "pull-right", id: "vol_toggle") %></img></h2>
    <div id="vol_dropdown">
      <%if @project.volunteers.count != 0 %>
        <table id="volunteers">
          <thead>
            <tr>
              <th class="table-color">Volunteer</th>
              <th class="table-color">Role</th>
              <th class="table-color">Email</th>
    	      <th class="table-color">Phone</th>
            </tr>
          </thead>
          <tbody>
            <% @project.volunteers.each do |vol| %>
              <tr>
                <td> <a href= "<%= user_path(vol.id) %>"> <%= vol.name %> </a></td>
  		<%if !vol.role.blank? %>
  		  <td><%= vol.role.name %></td>
  		<% else %>
  		  <td></td>
  		<% end %>
                <td><%= vol.email %></td>
                <td><%= vol.phone %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <strong> No volunteers have been added to this project! </strong>
      <% end %>
    </div>
  </div>
  <br><br>
  &nbsp;
</div>
