<div class="row section">
  <div class="col-md-8 col-md-offset-2 section"> 
    <div class="field">
        <%= f.attribute_fields do |a| %>
            <%= a.attribute_select associations: [:role, :skills, :certifications]%>
        <% end %>
        <%= f.predicate_select :only => [:cont] %>
        <%= f.value_fields do |v| %>
            <%= v.text_field :value %>
        <% end %>
        <%= link_to "remove", '#', class:"remove_fields" %>
    </div>
  </div>
</div>

