<style>
 .search-input {
     width: 100%;
 }
 .volunteer-emails-box#failure {
     background-color: rgba(255,0,0,0.7);	
     border: 3px solid #ff0000;
 }
 .ms-container {
     padding-top: 6px;
     padding-bottom: 6px;
     align: center;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
 }

 .ms-selectable .ms-selection {

 }

 .ms-container .ms-list {
     height: 300px;
 }
 
</style>
<div class="col-md-10 col-md-offset-1 section">
  <%= simple_form_for @user do |f| %>
    <fieldset>
    <legend>Background Information</legend>
<!--Basic Info-->
    <div id="basic_info_div" class="user_toggle"><h4>Basic Info<img href="#"><%= image_tag("minus-icon.svg", size: "24x24", class: "pull-right", id: "basic_info_toggle" ) %></img></h4></div>
    <br/>
    <div id="basic_info_dropdown" class="edit_user_dropdowns" style="display:inline">
    	<div class="row">
        <div class="col-md-5">
          <%= f.input :first_name, label: "First Name:"  %>
        </div>
        <div class="col-md-5">
          <%= f.input :last_name, label: "Last Name:" %>
        </div>
        <div class="col-md-2">
          <%= f.input :age, collection:  15 .. 100 %>
        </div>
      </div>
    </div>
    <br/>
<!--Education and background-->
    <div id="education_div" class="user_toggle"><h4>Education and Background<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "education_toggle" ) %></img></h4></div>
    <br/>
    <div id="education_dropdown" class="edit_user_dropdowns">
    	<div class="row">
        <div class="col-md-4">
          <%= f.input :education, label: "Education:", collection: @education_choices %>
        </div>
        <div class="col-md-4">
          <%= f.input :school, label:"Name of University/College:" %>
        </div>
        <div class="col-md-4">
          <%= f.input :expertise, label:"Field of Study or Expertise:", collection: @field_choices %>
        </div>
      </div>
    </div>
    <br/>
<!--Outreach Information-->
    <div id="outreach_div" class="user_toggle"><h4>Outreach Information<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "outreach_toggle" ) %></img></h4></div>
    <br/>
    <div id="outreach_dropdown" class="edit_user_dropdowns">
    	<div class="row">
        <div class="col-md-4 outreach-cols">
          <%= f.input :phone, label: "Phone Number:" %>
        </div>
        <div class="col-md-4 outreach-cols">
          <%= f.input :time_commitment, label: "Please indicate how much time you are interested in volunteering:", collection: @time_commitment_choices %>
        </div>
        <div class="col-md-4 outreach-cols">
          <%= f.input :travel, label: "Please indicate whether or not you can travel:", collection: @travel_availability %>
        </div>
      </div>
    </div>
    <br/>
<!--Languages-->
    <div id="language_div" class="user_toggle"><h4>Languages<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "language_toggle" ) %></img></h4></div>
    <br/>
    <div id="language_dropdown" class="edit_user_dropdowns">
      <div class ="row">
        <div class="col-md-12">
          <p>If you have proficiency in other languages than English, please indicate below:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 lang-cols">
          <%= f.input :lang1, label:"First Language:", collection: LanguageList::COMMON_LANGUAGES %>
        </div>
        <div class="col-md-3 lang-cols">
          <%= f.input :lang1_fluency, label:"First Language Fluency:", collection: @proficiency_choices %>
        </div>
        <div class="col-md-3 lang-cols">
          <%= f.input :lang2, label:"Second Language:", collection: LanguageList::COMMON_LANGUAGES  %>
        </div>
        <div class="col-md-3">
          <%= f.input :lang2_fluency, label:"Second Language Fluency:", collection: @proficiency_choices %>
        </div>
      </div>
    </div>
    <br/>
<!---Availability--->
    <div id="avail_div" class="user_toggle"><h4>Availability<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "avail_toggle" ) %></img></h4></div>
    <br/>
    <div id="avail_dropdown" class="edit_user_dropdowns">
      <%= f.fields_for :availability do |a| %>
        <div class="row">
          <div class="col-md-12">
            <label>Please indicate your general availability on a weekly basis:</label><br><br>
            <table style="width:100%" class="text-center">
              <tr>
		            <th class="text-center">Mon</th>
		            <th class="text-center">Tue</th> 
		            <th class="text-center">Wed</th>
		            <th class="text-center">Thu</th>
		            <th class="text-center">Fri</th> 
		            <th class="text-center">Sat</th>
		            <th class="text-center">Sun</th>
              </tr>
              <tr>
		            <td>
                  Morning (8:00am - 12:00pm)
		            </td>
		            <td>
                  <%= a.check_box :monday_morning, {:checked => @current_availability["monday_morning"]}  %>    
		            </td> 
		            <td>
                  <%= a.check_box :tuesday_morning, {:checked => @current_availability["tuesday_morning"]} %>    
		            </td> 
		            <td>
                  <%= a.check_box :wednesday_morning, {:checked => @current_availability["wednesday_morning"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :thursday_morning, {:checked => @current_availability["thursday_morning"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :friday_morning, {:checked => @current_availability["friday_morning"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :saturday_morning, {:checked => @current_availability["saturday_morning"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :sunday_morning, {:checked => @current_availability["sunday_morning"]}%>    
		            </td> 
              </tr>
              <tr>
		            <td>
                  Afternoon (12:00pm - 5:00pm)
		            </td>
		            <td>
                  <%= a.check_box :monday_afternoon, {:checked => @current_availability["monday_afternoon"]} %>    
		            </td> 
		            <td>
                  <%= a.check_box :tuesday_afternoon, {:checked => @current_availability["tuesday_afternoon"]} %>    
		            </td> 
		            <td>
                  <%= a.check_box :wednesday_afternoon, {:checked => @current_availability["wednesday_afternoon"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :thursday_afternoon, {:checked => @current_availability["thursday_afternoon"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :friday_afternoon, {:checked => @current_availability["friday_afternoon"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :saturday_afternoon, {:checked => @current_availability["saturday_afternoon"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :sunday_afternoon, {:checked => @current_availability["sunday_afternoon"]}%> 
		            </td>
              </tr>
              <tr>
		            <td>
                  Evening (5:00pm - 10:00pm)
		            </td>
		            <td>
                  <%= a.check_box :monday_evening, {:checked => @current_availability["monday_evening"]} %>    
		            </td> 
		            <td>
                  <%= a.check_box :tuesday_evening, {:checked => @current_availability["tuesday_evening"]} %>    
		            </td> 
		            <td>
                  <%= a.check_box :wednesday_evening, {:checked => @current_availability["wednesday_evening"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :thursday_evening, {:checked => @current_availability["thursday_evening"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :friday_evening, {:checked => @current_availability["friday_evening"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :saturday_evening, {:checked => @current_availability["saturday_evening"]} %>    
		            </td>
		            <td>
                  <%= a.check_box :sunday_evening, {:checked => @current_availability["sunday_evening"]} %> 
		            </td>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
    </div>
    <br/>
<!---Skills--->
    <div id="users_skill_div" class="user_toggle"><h4>Skills<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "users_skill_toggle" ) %></img></h4></div>
    <br/>
    <div id="users_skill_dropdown" class="edit_user_dropdowns">
      <div class="row">
        <div class="col-md-12">
    	    Please select skills you have:
          <select multiple="multiple" id="skills-select" name="skills[]">
    	      <% @mySkills.each do |skill| %>
    	        <option id="<%= skill.id %>" value="<%= skill.id %>" selected>
    		        <%= skill.name %>
    	        </option>
    	      <% end %>
    	      <% @skills.each do |skill| %>
    	        <option id="<%= skill.id %>" value="<%= skill.id %>">
    		        <%= skill.name %>
    	        </option>
    	      <% end %>
    	    </select>
    	    <br/>
    	    <a class="popup-with-form btn btn-md sqs-block-btn btn-black" href="#new-skill-form" id="a-new-skill">
    	      ADD A NEW SKILL
    	    </a>
    	    <br/>
    	    <br/>
    	    <div class="white-popup-block mfp-hide" id="new-skill-form">
    	      <div id="failure" hidden>
    	        <div class="volunteer-emails-box text-center" id="failure">
    		        Skill already exists.
    	        </div>
    	        <br/>
    	      </div>
    	      <%= form_tag do %>
    	        <%= label_tag(:new_skill, "Add new Skill") %>
    	        <%= text_field_tag(:new_skill, nil, class: "form-control string optional") %>
    	        <%= submit_tag("Save", class: "btn sqs-block-btn btn-black btn-md",
              id: "new-skill-submit") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br/>
<!---Certifications--->
    <div id="users_cert_div" class="user_toggle"><h4>Certifications<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "users_cert_toggle" ) %></img></h4></div>
	  <br/>
	  <div id="users_cert_dropdown" class="edit_user_dropdowns">
	  	<div class="row">
	      <div class="col-md-12">
	        Please select certifications you have:
          <select multiple="multiple" id="cert-select" name="cert[]">
    	      <% @myCerts.each do |cert| %>
    	        <option id="<%= cert.id %>" value="<%= cert.id %>" selected>
    		        <%= cert.name %>
    	        </option>
    	      <% end %>
    	      <% @certs.each do |cert| %>
    	        <option id="<%= cert.id %>" value="<%= cert.id %>">
    		        <%= cert.name %>
    	        </option>
    	      <% end %>
    	    </select>
        </div>
      </div>
    </div>
    <br/>
<!---Construction Experience--->
    <div id="construction_div" class="user_toggle"><h4>Construction Experience<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "construction_toggle" ) %></img></h4></div>
    <br/>
    <div id="construction_dropdown" class="edit_user_dropdowns">
    	<div class="row">
        <div class="col-md-12">
          Please select the construction experience you have:
          <select multiple="multiple" id="const-exp-select" name="const_exp[]">
            <% @myConstructionExperiences.each do |exp| %>
              <option id="<%= exp.id %>" value="<%= exp.id %>" selected>
                <%= exp.name %>
              </option>
            <% end %>
            <% @constructionExperiences.each do |exp| %>
              <option id="<%= exp.id %>" value="<%= exp.id %>">
              	<%= exp.name %>
              </option>
            <% end %>
          </select>
          <br/>
          <a class="popup-with-form btn btn-md sqs-block-btn btn-black" href="#new-const-exp-form" id="a-new-const-exp">
            Add a new Construction Experience
          </a>
          <div class="white-popup-block mfp-hide" id="new-const-exp-form">
            <div id="failure" hidden>
              <div class="volunteer-emails-box text-center" id="failure">
                Construction Experience already exists.
              </div>
              <br/>
            </div>
            <%= form_tag edit_user_path(@user), id: "new-const-exp-form1" do %>
              <%= label_tag(:new_const_exp, "Add a new Construction Experience") %>
              <%= text_field_tag(:new_const_exp, nil, class: "form-control string optional") %>
              <%= submit_tag("Save", class: "btn sqs-block-btn btn-black btn-md", id: "new-const-exp-submit") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br/>
<!---Design Experience--->
    <div id="design_div" class="user_toggle"><h4>Design Experience<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "design_toggle" ) %></img></h4></div>
    <br/>
    <div id="design_dropdown" class="edit_user_dropdowns">
      <div class="row">
      	<div class="col-md-12">
      		Please select the design experience you have:
          <select multiple="multiple" id="des-exp-select" name="des_exp[]">
          	<% @myDesignExperiences.each do |exp| %>
          	  <option id="<%= exp.id %>" value="<%= exp.id %>" selected>
          	  	<%= exp.name %>
          	  </option>
          	<% end %>
          	<% @designExperiences.each do |exp| %>
          	  <option id="<%= exp.id %>" value="<%= exp.id %>">
          	  	<%= exp.name %>
          	  </option>
          	<% end %>
          </select>
          <style>
            .search-input {
            	width: 100%;
            }
            .volunteer-emails-box#failure {
            	background-color: rgba(255,0,0,0.7);	
            	//background-color: red;
            	border: 3px solid #ff0000;
            }
          </style>
          <br/>
          <a class="popup-with-form btn btn-md sqs-block-btn btn-black" href="#new-des-exp-form" id="a-new-des-exp">
          	Add a new Design Experience
          </a>
          <div class="white-popup-block mfp-hide" id="new-des-exp-form">
          	<div id="failure" hidden>
          		<div class="volunteer-emails-box text-center" id="failure">
          			Design Experience already exists.
          		</div>
          		<br/>
          	</div>
          	<%= form_tag edit_user_path(@user), id: "new-des-exp-form1" do %>
          	  <%= label_tag(:new_des_exp, "Add a new Design Experience") %>
          	  <%= text_field_tag(:new_des_exp, nil, class: "form-control string optional") %>
          	  <%= submit_tag("Save", class: "btn sqs-block-btn btn-black btn-md", id: "new-des-exp-submit") %>
          	<% end %>
          </div>
        </div>
      </div>
    </div>
    <br/>
<!---Role--->
    <div id="role_div" class="user_toggle"><h4>Professional Role<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "role_toggle" ) %></img></h4></div>
    <br/>
    <div id="role_dropdown" class="edit_user_dropdowns">
    	<div class="row">
        <div class="col-md-12">
        	<%= f.association :role, label: "Please select your professional role:", value: @user.role.blank? ? "" : @user.role.name %>
          <a class="popup-with-form btn btn-md sqs-block-btn btn-black" href="#new-role-form" id="a-new-role">
          	Add a new Role
          </a>
          <div class="white-popup-block mfp-hide" id="new-role-form">
          	<%= form_tag do %>
          	  <%= label_tag(:new_role, "Add new Role") %>
          	  <%= text_field_tag(:new_role, nil, class: "form-control string optional") %>
          	  <%= submit_tag("Save", class: "btn sqs-block-btn btn-black btn-md", id: "new-role-submit") %>
          	<% end %>
          </div>
        </div>
      </div>
    </div>
    <br/>
<!---About You--->
    <div id="about_div" class="user_toggle"><h4>About You<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "about_toggle" ) %></img></h4></div>
    <br/>
    <div id="about_dropdown" class="edit_user_dropdowns">
      <div class="row">
        <div class="col-md-12">
          <br/>
          <%= f.input :description, as: :text, id: "About:", label: "Please tell us very briefly a little about yourself and why you want to volunteer for Engineers without Borders.", :input_html => {:style => 'width: 100%', :rows => 4, class: 'response-project'} %>
        </div>
      </div>
      <div class="row">
      	<div class="col-md-12">
      		<br/>
      		<%= f.input :avatar, as: :file, label: "Please upload a picture of yourself!" %>
      		<br/>
      		<br/>
        </div>
      </div>
    </div>
    <br/>
    <%= f.button :submit, "Update Background", class: "btn sqs-block-btn btn-black btn-md"%>
    </fieldset>
    <br/>
    <br/>
    <fieldset>
      <legend>Account Information</legend>
      <%= f.input :email, disabled: true %>
      <%= link_to "Change Email or Password", edit_user_registration_path, class: "btn sqs-block-btn btn-black btn-md" %>
    </fieldset>
  <% end %>
</div>