<%= simple_form_for @user do |f| %>
  <fieldset>
  <legend>Background Information</legend>
  <div class="row">
    <div class="col-md-5">
    <%= f.input :first_name %>
    </div>
    <div class="col-md-5">
    <%= f.input :last_name %>
    </div>
    <div class="col-md-2">
    <%= f.input :age, collection: 18..100 %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :education, collection: ["High School", "College", "Bachelors's Degree", "Master's Degree", "Doctorate Degree"] %>
    </div>
    <div class="col-md-6">
      <%= f.input :expertise, label:"Field of study or expertise" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :description, label: "About:", as: :text, hint: "Tell us briefly about yourself and why you want to volunteer for Engineers without Borders. Please also describe your general availability for events and projects.", autofocus: true, :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project'} %>
    </div>
  </div>
  <%= f.button :submit, "Update Background", class: "btn btn-md btn-success"%>
  </fieldset>
  <p></p>
  <fieldset>
  <legend>Account Information</legend>
  <%= f.input :email, disabled: true %>
  <%= link_to "Change Email or Password", edit_user_registration_path, class: "btn btn-md btn-warning" %>
  </fieldset>
<% end %>
<p></p>