<div class="row section">
	<div class="col-md-8 col-md-offset-2 section">
    <h1 class="text-center">Listing Users</h1>
    <br>
    <div class="row">
    <div class="col-md-12">
    <%= search_form_for @search, url: search_users_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c %>
        <% end %>
        <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <div class="actions"><%= f.submit "Search" %></div>
    <% end %>
  </div>
</div>

<br/>
<div class = "row">
  <div class = "col-md-4" >
    <h3>Skills</h3>
      <div class = "user-qualities">
        <% Skill.all.each do |skill| %>
          <input type = "checkbox" id = <%= skill.name.gsub(/[^a-zA-Z]/, '') + '_skill'%> onchange="change(id)"/>
          <label> <%= skill.name %></label>
          <br/>
        <% end %>
      </div>
  </div>
  <div class = "col-md-4" >
    <h3>Certifications</h3>
      <div class = "user-qualities">
        <% Certification.all.each do |cert| %>
          <input type = "checkbox" id = <%= cert.name.gsub(/[^a-zA-Z]/, '') + '_cert'%> onchange="change(id)"/>
          <label> <%= cert.name %></label>
          <br/>
        <% end %>
      </div>
  </div>
</div>

<hr>
<form>
<% @users.each do |user| %>
  <div class="row" id=<%= user.id %> klass="user_row">
    <div id="user-checkbox">
      <input type="checkbox" action="/people" name= "user"> <br>  
    </div>

    <div class="col-md-7">
    <a href=<%= user_path(user) %>><strong><%= user.first_name %> <%= user.last_name %></strong></a> <br>
    <strong>Age: </strong> <span class="user-qualities"><%= user.age %></span>
    <strong>Education: </strong> <span class="user-qualities"><%= user.education %> from <%= user.school %></span>
    <strong> Field: </strong> <span class="user-qualities"><%= user.expertise %></span><br/>
    <strong>Availability: </strong><span class="user-qualities"><%= user.availability %></span> <br/>
    <strong>Skills:</strong>
    <span class="user-qualities">
    <% user.skills.each_with_index do |skill, index| %>
      <% if (index == (user.skills.size - 1)) %>
        <%= skill.name %>
      <% else %>
        <%= skill.name + ', '%>
      <% end %>
    <% end %>
    </span>
    <br/>
    <strong>Certifications:</strong>
    <span class="user-qualities">
    <% user.certifications.each_with_index do |cert, index| %>
      <% if (index == (user.certifications.size - 1))  %>
        <%= cert.name %>
      <% else %>
        <%= cert.name + ', '%>
      <% end %>
    <% end %>
    </span>
    <br/>
    </div>
    <div class="col-md-2">
    <!--<button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#myModal">Contact <%= user.first_name %></button>-->
    </div>
  </div>
  <hr>
<% end %>
  <div id="search-submit">
    <input type="submit" value="Contact All" button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#myModal"></button>
  </div>
</form>
<!-- Modal -->

<!--<div id="myModal" class="modal fade" role="dialog">-->
<!--  <div class="modal-dialog">-->

    <!-- Modal content-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--        <h4 class="modal-title" contenteditable="true">Engineers Without Borders Project Invitation</h4>-->
    
<!--    <hr>-->
<!--    <% @users.each do |user| %>-->
<!--      <div class="row">-->
<!--        <div class="col-md-8">-->
<!--        <a href=<%= user_path(user) %>><strong><%= user.first_name %> <%= user.last_name %></strong></a> <br>-->
<!--        <strong>Age: </strong> <%= user.age %>-->
<!--        <strong>Education: </strong> <%= user.education %> from <%= user.school %>-->
<!--        <strong> Field: </strong> <%= user.expertise %><br>-->
<!--        <strong>Availability: </strong><%= user.availability %> <br>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--        <button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#myModal">Contact <%= user.first_name %></button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-body" >-->
<!--        <p class="form-control" contenteditable="true">After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join.</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--      <button type="button" class="btn btn-success" data-dismiss="modal">Send</button>-->
<!--      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->
<%= paginate @users %>
