<h1>Listing Users</h1>

<%= sortable 'age', 'Filter Age'%>
<%= sortable 'first_name', 'Filter First Name'%>


<hr>
<% @users.each do |user| %>
  <div class="row">
    <div class="col-md-7">
    <a href=<%= user_path(user) %>><strong><%= user.first_name %> <%= user.last_name %></strong></a> <br>
    <strong>Age: </strong> <%= user.age %>
    <strong>Education: </strong> <%= user.education %> from <%= user.school %>
    <strong> Field: </strong> <%= user.expertise %><br>
    <strong>Availability: </strong><%= user.availability %> <br>
    </div>
    <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-sm btn-block">Contact</button>
    <button type="button" class="btn btn-info btn-sm btn-block">Add to Shortlist</button>
    <button type="button" class="btn btn-success btn-sm btn-block">Invite to Project</button>
    </div>
  </div>
  <hr>
<% end %>

<%= paginate @users %>