<%= javascript_include_tag "users" %>

<div class="row section">
  <div class="col-md-8 col-md-offset-2 section">
    <h1 class="text-center">Listing Users</h1>
    <br>
    <div class="row">
      <div class="col-md-12">
	<%= search_form_for @q do |f| %>
	  <% @search_on = [:first_name, :last_name] %>
	  <%= f.condition_fields do |c| %>
	    <%= render "condition_fields", f: c %>
	  <% end %>
	  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
	  <%= f.submit %>
	<% end %>
      </div>
    </div>
  </div>
</div>

<%- if @email_list %>
  <div class="volunteer-emails-box">
    <br>
    <p class= "header">Please confirm to send an email to the following addresses:</p>
    <p class= "emails"><%= @email_list %></p>
    <button type="button" class="btn btn-success btn-sm btn-block" id= "confirmation">Email</button>
  </div>
<% end %>

<br/>
<div class = "row">
  <div class = "col-md-4" >
    <h3>Skills</h3>
      <div>
        <% Skill.all.each do |skill| %>
          <input type = "checkbox" id = <%= skill.name + '_skill'%> onchange="change(id)"/>
          <label for=<%=skill.name %>> <%= skill.name %></label>
          <br/>
        <% end %>
      </div>
  </div>
  <div class = "col-md-4" >
    <h3>Certifications</h3>
      <div>
        <% Certification.all.each do |cert| %>
          <input type = "checkbox" id = <%= cert.name + '_cert'%> onchange="change(id)"/>
          <label for=<%cert.name %>> <%= cert.name %></label>
          <br/>
        <% end %>
      </div>
  </div>
</div>

<hr>
<!--action="/" method="get"-->
<form action="/users" method="get"> 
<% @users.each do |user| %>
  <div class="row" id="emails[]" class="user_row">
    <div id="user-checkbox">
      <input type="checkbox" name="emails[]" value= <%=user.email %>> <br>  
    </div>

    <div class="col-md-7">
    <a href=<%= user_path(user) %>><strong><%= user.first_name %> <%= user.last_name %></strong></a> <br>
    <strong>Age: </strong> <%= user.age %>
    <strong>Education: </strong> <%= user.education %> from <%= user.school %>
    <strong> Field: </strong> <%= user.expertise %><br>
    <strong>Availability: </strong><%= user.availability %> <br>
    </div>
    <div class="col-md-2">
    <!--<button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#myModal">Contact <%= user.first_name %></button>-->
    </div>
  </div>
  <hr>
<% end %>
  <!--<a href= "mailto:bill@gates.com?">-->
  <div id="search-submit">
    <input type="submit" button type="button" class="btn btn-success btn-sm btn-block" id="submit-button" value="Contact Volunteers"></button>
    <!--<a href= "mailto:bill@gates.com?subject=Volunteer Request&body=After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join." id= "submission-link">Contact Volunteers</a>-->
  </div>
</form>

<script>
  var recipent = '<%= @email_list %>';
  recipent = recipent.slice(0, -1);
  document
  .getElementById("confirmation")
  .addEventListener("click", function(e) {
    // e.preventDefault();
    window.location.href = "mailto:" + recipent + "?subject=Volunteer Request&body=After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join.";
  });
</script>

<!-- Modal -->

<!--<div id="myModal" class="modal fade" role="dialog">-->
<!--  <div class="modal-dialog">-->

     <!--Modal content-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--        <h4 class="modal-title" contenteditable="true">Engineers Without Borders Project Invitation</h4>-->
    
<!--    <hr>-->
<!--      <div class="modal-body" >-->
<!--        <p class="form-control" contenteditable="true">After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join.</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--      <button type="button" class="btn btn-success" data-dismiss="modal">Send</button>-->
<!--      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<%= paginate @users %>
