<h1>Listing Users</h1>

<div class="row">
<div class="col-md-12">
<%= search_form_for @search, url: search_users_path, method: :post do |f| %>
    <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c %>
    <% end %>
    <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</div>
</div>

<hr>
<% @users.each do |user| %>
  <div class="row">
    <div class="col-md-7">
    <a href=<%= user_path(user) %>><strong><%= user.first_name %> <%= user.last_name %></strong></a> <br>
    <strong>Age: </strong> <%= user.age %>
    <strong>Education: </strong> <%= user.education %> from <%= user.school %>
    <strong> Field: </strong> <%= user.expertise %><br>
    <strong>Availability: </strong><%= user.availability %> <br>
    </div>
    <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-sm btn-block">Contact</button>
    <button type="button" class="btn btn-info btn-sm btn-block">Add to Shortlist</button>
    <button type="button" class="btn btn-success btn-sm btn-block">Invite to Project</button>
    </div>
  </div>
  <hr>
<% end %>

<%= paginate @users %>