<head><%= include_gon %></head>

<h1 id="test">Listing Users</h1>

<div class="row">
<div class="col-md-12">
<%= search_form_for @search, url: search_users_path, method: :post do |f| %>
    <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c %>
    <% end %>
    <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</div>
</div>

<div class = "row">
  <div class = "col-md-12">
    <div role = "tab">
      <span>Skills</span>
      <div aria-expanded = "true" role = "tabpanel">
        <% Skill.all.each do |skill| %>
          <label role = "checkbox" aria-checked = "false" aria-disabled = "false">
            <input type = "checkbox" id = <%= skill.name %> onchange="change(id)"/>
              <label for=<%=skill.name %>> <%= skill.name %></label>
          </label>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>
<% @users.each do |user| %>
<<<<<<< HEAD
  <div class="row" id= <%= user.id %> class="user">
=======
  <div class="row" id= <%= user.id %> class="user" klass="user_row">
>>>>>>> 68f07b34f84871275bb5d78dd61126bd9b929d54
    <div class="col-md-7">
    <a href=<%= user_path(user) %>><strong><%= user.first_name %> <%= user.last_name %></strong></a> <br>
    <strong>Age: </strong> <%= user.age %>
    <strong>Education: </strong> <%= user.education %> from <%= user.school %>
    <strong> Field: </strong> <%= user.expertise %><br>
    <strong>Availability: </strong><%= user.availability %> <br>
    <strong><% if user.skills[0] %><%= user.skills[0].name %><%end%></strong>
    </div>
    <div class="col-md-2">
    <button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#myModal">Contact <%= user.first_name %></button>
    </div>
  </div>
  <hr>
<% end %>
<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" contenteditable="true">Engineers Without Borders Project Invitation</h4>
      </div>
      <div class="modal-body" >
        <p class="form-control" contenteditable="true">After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join.</p>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal">Send</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
<%= paginate @users %>
