<%= javascript_include_tag "users" %>

<div class="row section">
  <div class="col-md-8 col-md-offset-2 section">
    <h1 class="text-center">Listing Users</h1>
    <br>
    <div class="row">
      <div class="col-md-12">
	<%= search_form_for @q do |f| %>
	  <% @search_on = [:first_name, :last_name] %>
	  <%= f.condition_fields do |c| %>
	    <%= render "condition_fields", f: c %>
	  <% end %>
	  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
	  <%= f.submit %>
	<% end %>
      </div>
    </div>
  </div>
</div>

<%- if @email_list %>
  <div class="volunteer-emails-box">
    <br>
    <p class= "header">Please confirm to send an email to the following addresses:</p>
    <p class= "emails"><%= @email_list %></p>
    <button type="button" class="btn btn-success btn-sm btn-block" id= "confirmation">Email</button>
  </div>
<% end %>

<br/>

<div class = "row">
  <div class = "col-md-4" >
    <h3>Skills<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "skills_toggle") %></img></h3><span></span>
      <div style="display:none" id="skill_checkboxes">
        <% Skill.all.each do |skill| %>
          <input type = "checkbox" id = <%= skill.name.gsub(/[^a-zA-Z]/, '') + '_skill'%> onchange="change(id)"/>
          <span> <%= skill.name %></span>
          <br/>
        <% end %>
      </div>
  </div>
  <div class = "col-md-4" >
    <h3>Certifications<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "cert_toggle") %></img></h3><span></span>
      <div style="display:none" id="cert_checkboxes">
        <% Certification.all.each do |cert| %>
          <input type = "checkbox" id = <%= cert.name.gsub(/[^a-zA-Z]/, '') + '_cert'%> onchange="change(id)"/>
          <span> <%= cert.name %></span>
          <br/>
        <% end %>
      </div>
  </div>
  <div class = "col-md-4">
    <h3>Field of Study<img href="#"><%= image_tag("plus_icon.png", size: "24x24", class: "pull-right", id: "field_toggle") %></img></h3><span></span>
      <div style="display:none" id="field_checkboxes">
      <% @field_choices.each do |field| %>
      <input type = "checkbox" id = <%= field.gsub(/[^a-zA-Z]/, '') + '_field'%> onchange="change(id)"/>
      <span> <%=field%> </span>
      <br/>
      <%end%>
    </div>
  </div>
</div>

<hr>
<!--action="/" method="get"-->
<form>
<% @users.each do |user| %>
  <div class="row" id=<%= user.id %> klass="user_row">
    <div id="user-checkbox">
      <input type="checkbox" name="emails[]" value= <%=user.email %>> <br>  
    </div>

    <div class="col-md-7">
    <a href=<%= user_path(user) %>><strong><%= user.first_name %> <%= user.last_name %></strong></a> <br>
    <% if user.age %>
      <strong>Age: </strong> <%= user.age %><br>
    <% end %>
    <% if  user.education && user.school %>
      <strong>Education: </strong> <%= user.education %> from <%= user.school %><br>
    <% elsif user.education  %>
      <strong>Education: </strong>  <%= user.education %>
    <% end %>
    <% if user.expertise %>
      <strong> Field: </strong> <%= user.expertise %><br>
    <% end %>
    <% if user.availability %>
      <strong>Availability: </strong><%= user.availability %> <br>
    <% end %>
    <% if user.skills  && user.skills.length > 0 %>
      <strong>Skills:</strong>
      <% user.skills.each_with_index do |skill, index| %>
        <% if (index == (user.skills.size - 1)) %>
          <%= skill.name %>
        <% else %>
          <%= skill.name + ', '%>
        <% end %>
      <% end %>
      <br/>
    <% end %>
    <% if user.certifications && user.certifications.length > 0 %>
      <strong>Certifications:</strong>
      <% user.certifications.each_with_index do |cert, index| %>
        <% if (index == (user.certifications.size - 1))  %>
          <%= cert.name %>
        <% else %>
          <%= cert.name + ', '%>
        <% end %>
      <% end %>
      <br/>
    <% end %>

    </div>
    <div class="col-md-2">
    <!--<button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#myModal">Contact <%= user.first_name %></button>-->
    </div>
  </div>
  <hr>
<% end %>
  <!--<a href= "mailto:bill@gates.com?">-->
  <div id="search-submit">
    <input type="submit" button type="button" class="btn btn-success btn-sm btn-block" id="submit-button" value="Contact Volunteers"></button>
    <!--<a href= "mailto:bill@gates.com?subject=Volunteer Request&body=After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join." id= "submission-link">Contact Volunteers</a>-->
  </div>
</form>

<script>
  var recipent = '<%= @email_list %>';
  recipent = recipent.slice(0, -1);
  document
  .getElementById("confirmation")
  .addEventListener("click", function(e) {
    // e.preventDefault();
    window.location.href = "mailto:" + recipent + "?subject=Volunteer Request&body=After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join.";
  });
</script>

<!-- Modal -->

<!--<div id="myModal" class="modal fade" role="dialog">-->
<!--  <div class="modal-dialog">-->

     <!--Modal content-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--        <h4 class="modal-title" contenteditable="true">Engineers Without Borders Project Invitation</h4>-->
    
<!--    <hr>-->
<!--    <%# @users.each do |user| %>-->
<!--      <div class="row">-->
<!--        <div class="col-md-8">-->
<!--        <a href=<%#= user_path(user) %>><strong><%#= user.first_name %> <%#= user.last_name %></strong></a> <br>-->
<!--        <strong>Age: </strong> <%#= user.age %>-->
<!--        <strong>Education: </strong> <%#= user.education %> from <%#= user.school %>-->
<!--        <strong> Field: </strong> <%#= user.expertise %><br>-->
<!--        <strong>Availability: </strong><%#= user.availability %> <br>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--        <button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#myModal">Contact <%#= user.first_name %></button>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="modal-body" >-->
<!--        <p class="form-control" contenteditable="true">After looking over your qualifications, I think that you would be a great fit for my project! Please accept my invitation to join.</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--      <button type="button" class="btn btn-success" data-dismiss="modal">Send</button>-->
<!--      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <%# end %>-->
<!--  </div>-->
<!--</div>-->
<%#= paginate @users %>
<!--  </div>-->
<!--</div>-->

<%= paginate @users %>