<div class="row section">
	<div class="col-md-9 col-md-offset-2 section">
		<h2 class="text-center">Profile Information</h2>
		<div class="row">
			<div class="col-md-12">
			  <strong>Name:</strong>
			  <%= @user.first_name %>
			  <%= @user.last_name %>
			</div>
			<div class="col-md-12">
			  <strong>Age:</strong>
			  <%= @user.age %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				 <strong>Education:</strong>
				<%= @user.education %>
			</div>
			<div class="col-md-12">
				 <strong>School:</strong>
				<%= @user.school %>
			</div>
			<div class="col-md-12">
				<strong>Expertise:</strong>
				<%= @user.expertise %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<strong>About:</strong>
				<%= @user.description %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<strong>Availability:</strong>
				<%= @user.availability %>
			</div>
		</div>

		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<%= link_to 'Edit Profile', edit_user_path(@user), class: "btn sqs-block-btn btn-black btn-md" %> |
		<%= link_to 'Home', root_path, class: "btn sqs-block-btn btn-black btn-md" %>
		<br></br>
	</div>
</div>
