<% if not user_signed_in? %>
	<div class="row section">
		<div class="section col-md-10 col-md-offset-1">
			<h3 class="title text-center">Welcome to the Engineers Without Borders SF Volunteer System!</h3>
			<h4 class="text-center">If you would like to register as a volunteer, please click below!</h4>
			<br>
			<p class="text-center">
			<%= link_to "GET INVOLVED", new_user_registration_path, class: "btn btn-md btn-color btn-round" %>
			</p>
			<br><br>
			<div class="col-md-4">
				<div class="card-image">
					<a href="#"><%= image_tag("main1.png") %></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-image">
					<a href="#"><%= image_tag("main2.png") %></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-image">
					<a href="#"><%= image_tag("main3.png") %></a>
				</div>
			</div>
		</div>
	</div>
<% elsif not current_user.complete %>
	<div class="background-img">
	<div class="row section">
		<div class="section col-md-10 col-md-offset-1">
			<div class="col-md-5 col-md-offset-1 section">
				<h2>ABOUT OUR CHAPTER</h2>
				<p><h2 class="text-center"> Need more information!</h2>
				</p>
				<p>
				Before we can effectively match you to projects, we need to know a little more about you. Please take a couple minutes to complete your newly created profile with some background information.
				</p>
				<p class="text-center">
				<%= link_to "Update Your Profile", edit_user_path(current_user), class: "btn sqs-block-btn btn-black btn-lg"  %>
				</p>
				<br></br>
			</div>
			<div class="col-md-5 col-md-offset-1 section">
				<h2 class="text-center">Other things you can do! </h2>
			    <p> Check out current projects we are working on and see how you can help!</p>  	
				</p>
				<p class="text-center">
			       <%= link_to("Projects Listings", projects_path, class:"btn sqs-block-btn btn-black btn-lg") %>
				</p>
			</div>
		</div>
	</div>
	</div>
<% else %>
	<div class="row section">
		<div class="col-md-10 col-md-offset-1 section">
			<h3 class="text-center">You're all set!</h3>
			<p>
			Thank you for your time completing this application, and your interest in volunteering. We will be in touch with you soon.
			</p>
			<p>
			In the meantime, if you want to make changes to your profile you can update it at any time.
			<%= link_to "Update Your Profile", edit_user_path(current_user), class: "btn sqs-block-btn" %>
			<br></br>
			<h4>Other things you can do! </h4>
		       <%= link_to("Projects Listings", projects_path, class:"btn sqs-block-btn") %>
		    <p> Check out current projects we are working on and see how you can help!</p> 
	    </div>
    </div>
<% end %>
