<%#<h1>Listing Events</h1>

<hr>
<ul>
<% @events.each do |event| %>
<%#<li>
  <h4><a href="<%= event_path(event.id) %><%#" ><%= event.name %><%#</a></h4> <b><%= event.project.name %><%#</b>
  <p><%= event.description %><%#<p>
  </p>
  </p>
 </li>
<% end %>
<%#<ul>

<%= paginate @events %> 