<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    
    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <!-- Magnific Popup core JS file -->
    <script src="magnific-popup/jquery.magnific-popup.js"></script>
    
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-color">
    <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top nav-shadow" style="background-color: white">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://ewb-sfp.org/"><%= image_tag("ewb-sfp-logo.png", height:"32") %></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to("Home", root_path) %></a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to("Profile", user_path(current_user), class:"nav-link") %></a>
          </li>
	  <% if can? :read, :all %>
	    <li class="nav-item">
              <%= link_to("My Projects", user_manages_path(current_user), class:"nav-link") %></a>
            </li>
	  <% end %>
	  <li class="nav-item">
            <%= link_to("Project Listings", projects_path, class:"nav-link") %></a>
          </li>
          <% if can? :read, :all %>
            <li class="nav-item">
              <%= link_to("Find Volunteers", users_path, class:"nav-link") %></a>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to("Logout", destroy_user_session_path, method: :delete, class:"nav-link") %></a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to("Login", user_session_path) %></a>
          </li>
        <% end %> 
      </ul>
      </div>
  </nav>
</div>
    <div class="main main-raised">
      <div class="container">
        <div class="section">
          <%= yield %>
        </div>
      </div>
    </div>
    <script>
      $(document).ready()
    </script>
    
  </body>
</html>


